.pentatrion-notifies {
  .btn {
    background-color: $yellow;
    padding: .5rem 1rem;
    font-size: 14px;
    border-radius: $borderRadius;
    border: 1px solid $yellow;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    
    &.outlined {
      border: 1px solid $extraLightGray;
      background-color: white;
      &:hover {
        border-color: $lightGray;
      }
    }
  
    &, &:hover, &:visited {
      color: black;
    }
  
    @include transition-input;
  
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.15),0 2px 2px 0px rgba(0,0,0,0.15),0 1px 5px 0px rgba(0,0,0,0.1);
    &:focus {
      outline: none;
      border-color: $yellowDark;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,0.15),0 2px 2px 0px rgba(0,0,0,0.15),0 1px 5px 0px rgba(0,0,0,0.1);
  
      body.with-accessibility & {
        box-shadow: 0 0 0 2px white, 0 0 0 4px #{$yellowDark};
      }
    }
    &:hover {
      box-shadow: 0 2px 4px -1px rgba(0,0,0,0.15),0 4px 5px 0px rgba(0,0,0,0.15),0 1px 10px 0px rgba(0,0,0,0.1);
    }
    &:active {
      box-shadow: 0 5px 5px -3px rgba(0,0,0,0.15),0 8px 10px 1px rgba(0,0,0,0.15),0 3px 14px 2px rgba(0,0,0,0.1);
    }
  
    &.danger {
      background-color: $redLight;
      border-color: $red;
    }
  
  
  }

  .form-input {
    appearance: none;
    padding: .5rem;
    border-radius: $borderRadius;
    border: 1px solid $extraLightGray;
    font-size: 14px;
    background-color: #ffffff;
    @include transition-input;
  
    &:hover {
      border-color: $lightGray;
    }
    &:focus {
      border-color: $yellowDark;
      box-shadow: #{$ringShadow}, #{$shadow};
      outline: none;
  
      body.with-accessibility & {
        box-shadow: 0 0 0 2px white, 0 0 0 4px #{$yellowDark};
        border-color: $extraLightGray;
        outline: none;
      }
    }
  
    &.is-invalid {
      border-color: $red;
    }
  
    &:disabled {
      border: 1px solid $extraLightGray;
      background-color: $extraLightGray;
      cursor: not-allowed;
    }
  }
}





