@import "./variables.scss";
@import "./animation.scss";

.mini-notifier-container {
  position: absolute;

  &.fixed {
    position: fixed;
  }

  z-index: 20;

  &.bottom-left {
    bottom: 20px;
    left: 20px;
  }

  &.bottom-right {
    bottom: 20px;
    right: 20px;
  }

  &.top-left {
    top: 20px;
    left: 20px;
  }

  &.top-right {
    top: 20px;
    right: 20px;
  }

  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Default notification styles */
.mini-notifier-notification {
  * {
    box-sizing: content-box;
  }

  position: relative;
  width: 220px;
  margin-top: 15px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 11px 17px 0 rgba(23, 32, 61, .13),
  0 0 2px #bbb;
  border-radius: var(--mn-border-radius);
  font-size: 14px;
  line-height: 1.4em;
  word-wrap: break-word;
  border-top: 3px solid var(--mn-primary-color500);

  &.login {
    width: 350px;
  }

  &--success {
    background: var(--mn-green200) !important;
    border-top: 3px solid var(--mn-green500);
  }

  &--error {
    background: var(--mn-red200) !important;
    border-top: 3px solid var(--mn-red500);
  }

  &--cross {
    position: absolute;
    top: 5px;
    right: 2px;
    width: 20px;
    height: 20px;
    opacity: 0.54;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease;

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: 1;
    }
  }

  &--btns {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 20px;
    justify-content: space-around;

    > :first-child {
      margin-right: 10px;
    }

    >.penta-input-text {
      width: 0;
      flex: 1;
    }
  }

  &--label {
    margin-top: 20px;
  }

  &--form {
    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
}