.pentatrion-theme {
  --primary-color: #ffea66;
  --primary-color-dark: #eac800;
  
  --red: #dc3545;
  --red-light: #f8d7da;
  --green: #2b5229;
  --green-light: #e1fae1;
  
  --border-radius: .25rem;
}
